/* DOKUMENT STYLŮ K ÚPRAVĚ */

.main {
   gap: 1em;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.ytv {
    
}
.ytv__bottom {
    
}
.ytv__left {
    
}
.ytv__right {
    display: flex;   
    justify-content: flex-end;
}
.profile {
    
}
.profile__text {
    
}
.icon {

}
.btn--flex {
    
}

.footer {
   display: flex;
   justify-content: flex-start;
   flex-wrap: nowrap;
}